doctype 5
html
  head
    title= title

    //-
      Atom/RSS Feed
    //-
    link(rel="alternate",type="application/rss+xml",href="#{rss}")

    //-
       Include Library (Primaly)
    //-

    //- javascript
    script(src='/socket.io/socket.io.js') 
    script(src='/lib/js/underscore-min.js')
    script(src='/lib/js/jquery-2.0.2.min.js')
    script(src='/lib/js/jquery-ui.min.js')
    script(src='/lib/js/bootstrap.min.js')
    script(src='/lib/js/moment.min.js')

    //- FancyBox
    script(src='/lib/js/jquery.fancybox.pack.js')
    link(rel='stylesheet', href='/lib/css/jquery.fancybox.css', media="screen")

    //- css
    link(rel='stylesheet', href='/lib/css/bootplus.min.css')
    link(rel='stylesheet', href='/lib/css/bootplus-responsive.min.css')
    link(rel='stylesheet', href='/lib/css/font-awesome.min.css')    

    //- Include User Scripts/Stylesheets
    !=js('view_helpers')
    !=js('io')
    !=css('main')


  body
    .container
      .row
        .span2.otherStream
          block otherStream
        .span7
          .page-header
            h1= title
              if title != 'unific'
                small= ' - unific'
            if description
              p= description

          block content
        .span3.utility
          block utility