doctype html
head
  if stream
    title= stream.title + ' - unific'
  else
    title= 'unific'

  //-
    Atom/RSS Feed
  //-
  if rss
    link(rel="alternate",type="application/rss+xml",href="#{rss}")

  //-
     Include Library (Primaly)
  //-

  //- javascript
  script(src='/socket.io/socket.io.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js")


  //- css
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/paper/bootstrap.min.css")

  //- User Script
  script(src="/js/notify.js" type="application/javascript")
  script(src="/js/unific.js" type="application/javascript")

body
  .container
    .row
      .col-md-12.col-lg-12.col-xs-12.center-block
        .page-header
          if stream
            h1= stream.title
            small unific.net
            p#Description(data-intro='説明文を変更できます。',data-position='left',contenteditable=true)= description
          else
            h1= 'Unific'

        block content
